{
    BasedOnStyle: LLVM,
    UseTab: Never,
    IndentWidth: 4,
    TabWidth: 4,
    BreakBeforeBraces: Allman, # Attach
    BreakTemplateDeclarations: No,
    IndentCaseLabels: true,
    ColumnLimit: 0,
    AccessModifierOffset: -4,
    NamespaceIndentation: All,
    FixNamespaceComments: true,
    ReflowComments: true,
    SortIncludes: true,
    MaxEmptyLinesToKeep: 0,
    AlwaysBreakTemplateDeclarations: false,
    SpaceAfterTemplateKeyword: true,
    AllowShortFunctionsOnASingleLine: All,
    AllowShortIfStatementsOnASingleLine: true,
    AllowShortLoopsOnASingleLine: true,
    AllowShortBlocksOnASingleLine: true,
    AllowShortLambdasOnASingleLine: true,
    UseCRLF: false,
}